/* styles for index.html */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* reset css to default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* set the page background and styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

/* set the header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 70px 70px;
    /*top , right, bottom, left*/
}

/* set the logo styles */
.logo, .sectiontitle {
    font-size: 45px;
    font-weight: 700;
    color: lightseagreen;
}

/* set the navigation styles */
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-inline: 30px;
}

nav ul li a {
    color: teal;
    text-decoration: none;
}

nav ul li:hover a {
    color: #fdbd31;
    transition: 0.3s;
}

/* set the main cointainer as a grid of columns */
#mainsection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin: auto;
    width: 80%;
    height: 100dvh;
}

/* set the left div column */
/* A short intro on how flex works: https://www.youtube.com/watch?v=_tlxwc9ssH4 */
.left-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

/* set the right div column */
.right-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
}

/* set the profile container */
.profilecontainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 300px;

}

/* set the rounded image */
.rounded-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    border: 5px solid white;
}

/* set the profile text (targets span tags within <p> tags in profilecontainer class) */
.profilecontainer p span {
    display: block;
}

/* set the profile text (targets span tags within <p> tags in profilecontainer class) */
.strong {
    font-weight: bold;
}

/* set the links container */
.linkcontainer {
    display: flex;
    margin-top: 10px;
}

/* set the <a> tags' styles */
.linkcontainer a {
    padding: 10px 20px;
    font-size: 16px;
    background: teal;
    color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}


/* set the text class style for the animated text in <h1> tag */
.text h1 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: lightslategray;
}

/* set the <a> link tags' style (targets <a> tags within text class) */
.text p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    padding-bottom: 20px;
}

/* Start of styling projectsection */
/* ******************************* */

#projectsection {
    width: 80%;
    margin: auto;
    height: 100dvh;
}

/* Set the showcasecontainer to list the projects */
/* repeated in equal column of 3s per fractional unit */
.showcasecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* Set the card styles */
.projectcard {
    font-size: small;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 24px;
}

/* Set the projectsection grid container's content with */

.projectcard h4,
.projectcard p {
    padding-left: 16px;
}

/* Set the image in the project card */
.projectcard img {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-image: url("img/imgplaceholder.png");
    text-indent: -9999px;
}

/* Set the projectcard title's style
    (set the text to be uppercase) */
.projectcard .scope {
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Set mouseover effect for project card */
.projectcard:hover {
    transition: 0.3s ease-out;
    transform: scale(1.03);
}

/* Style the links in the project card */
.projectcard a {
    text-decoration: none;
    color: gray;
    transform: scale(1.0);
}

/* Set the styles for the tags in project card */
.projectcard span {
    font-size: x-small;
    display: inline;
    align-content: space-between;
    border-radius: 5px;
    margin: 5px;
    background-color: lightseagreen;
    padding: 5px 10px;
    display: inline-block;
    color: white;

}

/* ***************************** */
/* End of styling projectsection */

/* Start of styling miscellaneous elements */
/* *************************************** */

.top{
    display: flex;
    justify-content: center;
}

.top a{
    margin: 20px;
    text-decoration: none;
    color: lightseagreen;
    font-size: small;
}

/* ************************************* */
/* End of styling miscellaneous elements */